*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: dimgray;
}
.slider{
    width: 800px;
    height: 500px;
    overflow: hidden;
    background-color: black;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navigation{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    transform: translateX(-50%);
}
.bar{
    height: 20px;
    width: 20px;
    background-color: rgb(82, 82, 232);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color .4s ease;
}
.bar:hover{
    background-color: white;
}
.bar:active{
    border: 2px solid white;
    background-color: transparent;
}

input[name='r']{
    position: absolute;
    visibility: hidden;
}

.images{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide{
    width: 25%;
    transition: all .6s ease;
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .images .s1{
    margin-left: 0;
}
#r2:checked ~ .images .s1{
    margin-left: -25%;
}
#r3:checked ~ .images .s1{
    margin-left: -50%;
}
#r4:checked ~ .images .s1{
    margin-left: -75%;
}